<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
     
     
     <!-- This is a context init parameter getServletContext().getInitParameter-->
    <context-param>
        <param-name>email</param-name>
        <param-value>admin@example.com</param-value>
    </context-param>
    
   <filter>
    <filter-name>myFitler</filter-name>
    <filter-class>com.rupp.sample.web.MyFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>myFitler</filter-name>
      <url-pattern>/myFilter.jsp</url-pattern>
    </filter-mapping>  

      <servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>com.rupp.sample.web.BasicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/basicServlet</url-pattern>
    </servlet-mapping>
   
     <servlet>
        <servlet-name>BasicServlet2</servlet-name>
        <servlet-class>com.rupp.sample.web.BasicServlet2</servlet-class>
        <init-param>
            <!-- getServletConfig().getInitParameter -->
            <param-name>initValue</param-name>
             <param-value>init value display here:use getServletConfig().getInitParameter(</param-value>
      </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BasicServlet2</servlet-name>
        <url-pattern>/basicServlet2</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestRequestServlet</servlet-name>
        <servlet-class>com.rupp.sample.web.TestRequestServlet</servlet-class>
        <!--  load at server start -->
        <load-on-startup>1</load-on-startup> 
        
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRequestServlet</servlet-name>
        <url-pattern>/myTest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestRequestAttributeServlet</servlet-name>
        <servlet-class>com.rupp.sample.web.TestRequestAttributeServlet</servlet-class>
        <load-on-startup>2</load-on-startup> 
        
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRequestAttributeServlet</servlet-name>
        <url-pattern>/myTestAttribute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestForm</servlet-name>
        <servlet-class>com.rupp.sample.web.TestRequestGetPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestForm</servlet-name>
        <url-pattern>/testForm</url-pattern>
    </servlet-mapping>
    <!-- SessionTrack -->
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.rupp.sample.web.SessionTrack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/sessionTrack</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>WriteCookie</servlet-name>
        <servlet-class>com.rupp.sample.web.WriteCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteCookie</servlet-name>
        <url-pattern>/writeCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReadCookie</servlet-name>
        <servlet-class>com.rupp.sample.web.ReadCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookie</servlet-name>
        <url-pattern>/readCookie</url-pattern>
    </servlet-mapping>
    
    <servlet>
	<servlet-name>ErrorHandler</servlet-name>
	<servlet-class>com.rupp.sample.web.ErrorHandler</servlet-class>
</servlet>
	<!-- servlet mappings -->
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/errorHandler</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/errorHandler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorHandler</location>
	</error-page>

    <session-config>
    <!-- 15mintue  default value is 30min -->
    <session-timeout>15</session-timeout>
  </session-config>
  
    <!-- welcome file -->
   <welcome-file-list>  
   <welcome-file>index.jsp</welcome-file>  
   <welcome-file>index.html</welcome-file>  
  </welcome-file-list>  
</web-app>
